@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");

/* Search bar styling */

#searchbar_container {
	max-width: max-content;
	margin: 20px;
	padding: 10px;
	border: 1px solid goldenrod;
	border-radius: 20px;
}

#menu_search,
#menu_search:focus {
	border: none;
	outline: none;
}

.search_results {
	box-sizing: border-box;
	width: 90%;
	margin: auto;
}

.search_results > div {
	margin-top: 30px;
}

#go_to_top {
	background-color: white;
	transform: rotate(-90deg);
	position: fixed;
	bottom: 30px;
	right: 30px;
	height: 40px;
	width: 40px;
	border-radius: 50%;
	box-shadow: 0px 0px 10px gray;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 5px;
}

.top_icon {
	font-size: 1rem;
	font-weight: bold;
	padding: 5px;
	color: black;
}

h1 {
	padding: 20px;
	font-size: 1.5rem;
	font-weight: 800;
	color: #2e2c2c;
}

img {
	width: 100%;
}

#main {
	scroll-behavior: smooth;
}

.menu_1_cards {
	display: flex;
	overflow-x: scroll;
	padding-bottom: 30px;
	scrollbar-width: none;
	scroll-behavior: smooth;
}
.menu_1_cards::-webkit-scrollbar {
	display: none;
}

.menu_cards,
.menu_cards_1 {
	min-width: 300px;
	overflow: hidden;
	border-radius: 10px;
	margin-left: 20px;
	box-shadow: 4px 5px 8px gray, -6px -3px 8px gray;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.menu_cards > div {
	padding: 15px;
}
.menu_cards > div:nth-of-type(1) > span:nth-of-type(1) {
	text-decoration: line-through;
}
.menu_cards > div:nth-of-type(1) > span:nth-of-type(1),
.menu_cards > div:nth-of-type(1) > span:nth-of-type(2),
.sub_container > div:nth-of-type(2) > span:nth-of-type(1),
.sub_container > div:nth-of-type(2) > span:nth-of-type(2) {
	font-size: 0.9rem;
	font-weight: 800;
}

.menu_cards > div:nth-of-type(1) > span:nth-of-type(3),
.menu_cards > div:nth-of-type(1) > span:nth-of-type(4) {
	font-size: 0.7rem;
	color: #2e2c2c;
}
.menu_cards > div:nth-of-type(1) > p {
	color: #2e2c2c;
}

span {
	margin-left: 10px;
	font-size: 0.9rem;
}

.menu_cards button,
.menu_cards_1 button {
	text-align: center;
	border: none;
	border-radius: 30px;
	width: 250px;
	padding: 10px 20px;
	color: white;
	background-color: #e4002b;
	display: flex;
	align-items: center;
	justify-content: center;
}
button:hover {
	cursor: pointer;
}
#view_option {
	padding: 10px;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.btnLogo {
	width: 15px;
	padding: 5px;
}

/* Styling for sections after thechicken bucket */
.menu_cards_1 {
	padding: 15px;
	width: 85%;
	margin: auto;
	margin-top: 20px;
	max-height: max-content;
}

.menu_cards_1 > div:last-child {
	padding: 15px;
}

.sub_container {
	width: 100%;
	display: grid;
	grid-template-columns: 60% 30%;
	gap: 5%;
}

.sub_container > :last-child {
	order: -1;
}
.sub_container h4 {
	margin-top: 0;
}
.sub_container img {
	border-radius: 7px;
}

/* grid view for all menu_cards_1 section cards */

.sub_container_listView {
	display: flex;
	flex-direction: column;
}
.sub_container_listView > :first-child {
	padding: 0;
}
.sub_container_listView > :last-child {
	order: 2;
}
.menu_cards_1_listView {
	display: flex;
	align-content: stretch;
	overflow-x: scroll;
	padding-bottom: 30px;
	scrollbar-width: none;
	scroll-behavior: smooth;
}
.menu_cards_1_listView > div {
	margin-left: 20px;
	/* height: 500px; */
	/* box-sizing: border-box; */
}

/* All media quries are written here */

@media all and (min-width: 1024px) {
	.search_results {
		display: grid;
		grid-template-columns: repeat(3, 32.5%);
		gap: 50px 20px;
		padding: 50px 0px;
	}
	#main {
		padding: 50px 0px;
	}
	#menu_1 {
		background-color: #f8f7f5;
	}
	#view_option {
		display: none;
	}
	.menu_1_cards,
	.cards {
		display: grid;
		grid-template-columns: repeat(2, 42.5%);
		gap: 50px;
	}
	.cards {
		grid-template-columns: repeat(3, 29%);
	}

	.menu_cards_1 {
		padding: 0px;
		overflow: hidden;
	}

	.sub_container {
		display: flex;
		flex-direction: column;
	}
	.sub_container > div:last-child {
		order: 2;
		padding: 15px;
	}
	.menu_1_cards > div > img {
		width: 100%;
		aspect-ratio: 14/5;
	}
	.sub_container img {
		border-radius: 0;
		width: 100%;
		aspect-ratio: 9/7;
	}

	.button_container {
		display: flex;
		justify-content: center;
	}
}

/* Style to hide the all menu cards on search !important it should be at the bottom */

.hide_menu {
	display: none;
}
