body {
    margin: 0px;
    padding: 0px;
    font-family: Helvetica, sans-serif;
    color: black;
  }
  button{
      padding: 10px 50px;
      border-radius: 40px;
  }

#acc_container{
    color: white;
    background-color: black;
    width: 450px;
    margin: auto;
    border-radius: 10px;
    padding-top: 50px;
    padding-bottom: 70px;
    margin-top: 100px;
    margin-bottom: 100px;
}
#acc_container h1{
    text-align: center;
}
#acc_container button{
    display: block;
    margin: auto;
    border: none;
    margin-top: 50px;
}
#acc_container>button:hover{
    background-color: #e4002b;
    color: white;
}

.dropbtn {
    background-color: #04AA6D;
    color: white;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
    width: 100%;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    left: 135px;
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 5px;
  }
  
  /* Links inside the dropdown */
  .dropdown-content h3 {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd;}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {background-color: #3e8e41;}