/* body {
  margin: 0;
  padding: 0;
} */

footer {
  background-color: #202124;
  width: calc(100vw -10px);
  box-sizing: border-box;
  color: white;
  border-top: 1px solid #494949;
  padding: 30px 0px;
}

.footer-main {
  display: flex;
  flex-direction: column;
  padding: 20px 20px;
}

.logo-container {
  display: flex;
  justify-content: center;
  margin: 10px;
  padding: 60px 20px;
  border-bottom: 1px solid #494949;
}

.logo-container > img {
  max-width: 60px;
}
.link-container {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  max-height: 20px;
  padding: 0px 20px 15px;
  border-bottom: 1px solid #494949;
  margin: 10px;
}
.link-container > div {
  padding: 10px 0px;
  color: white;
}

.link-container > div > a,
.link-container > div > i {
  color: inherit;
  text-decoration: none;
}

.loc {
  display: flex;
  padding: 30px 20px;
  border-bottom: 1px solid #494949;
  margin: 10px;
}

.loc > div:last-child {
  margin-left: 20px;
}

.loc i {
  color: red;
}

.app-download {
  margin: 10px;
  padding: 10px 20px;
}
.app-links {
  display: flex;
  justify-content: center;
}
.app-links > div {
  padding: 0px 20px;
}

.bottom-links {
  display: flex;
  flex-direction: column;
}

.bottom-links > :last-child > p {
  font-size: 0.8rem;
  color: #dbdbdb;
  text-align: center;
}

.social-logo {
  display: flex;
  justify-content: center;
}
.social-logo > div {
  margin-left: 10px;
}
.social-logo img {
  width: 50px;
}

@media all and (min-width: 1024px) {
  .footer-main {
    flex-direction: row;
    justify-content: space-between;
  }
  .logo-container {
    border: none;
  }

  .link-container {
    max-height: max-content;
    border: none;
    font-size: 14px;
    padding: 10px;
  }

  .loc {
    border: none;
    padding: 10px;
  }

  .app-download {
    padding: 10px;
  }

  .bottom-links {
    flex-direction: row;
    justify-content: space-around;
  }

  .social-logo {
    order: 2;
  }
  .social-logo img {
    width: 35px;
  }
}
