body {
  margin: 0px;
  padding: 0px;
  font-family: Helvetica, sans-serif;
  color: black;
}

img {
  width: 100%;
}

button {
  padding: 0px 50px;
  border-radius: 40px;
}

#head_div {
  width: 100%;
  background-color: rgb(245, 243, 243);
}

#head_div .welcome,
#head_div .strips,
#deals .strips {
  margin-left: 220px;
  height: 100px;
}

#head_div .strips,
#deals .strips {
  margin-top: -10px;
  width: 45px;
  height: 32px;
  background: repeating-linear-gradient(
    90deg,
    #e4002b,
    #e4002b 10px,
    #fff 0,
    #fff 16px
  );
}

#head_div .strips {
  margin: auto;
}

.welcome {
  margin-top: 45px;
  font-size: 1.4em;
}

#cat_heading,
#cat,
#deals_sub,
#deals_sub_heading {
  width: 75%;
  margin: auto;
}

#cat_heading {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 100px;
  margin-bottom: 60px;
  font-size: 1.8em;
}

#cat_heading > div:nth-child(1) {
  width: 600px;
}

#cat_heading > div:nth-child(2) {
  width: 100%;
}

.line {
  border: 1px solid rgb(216, 215, 215);
  height: 0px;
}

#cat {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}

#cat div {
  background-color: rgb(245, 243, 243);
  text-align: center;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  cursor: pointer;
}

#cat img {
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

#cat h4 {
  margin-top: 30px;
  margin-bottom: 30px;
}

#deals {
  width: 100%;
  background-color: #202124;
  color: white;
  text-align: center;
  margin-top: 130px;
  padding-bottom: 200px;
}

#deals .strips {
  background: repeating-linear-gradient(
    90deg,
    #e4002b,
    #e4002b 10px,
    black 0,
    black 16px
  );
}

#deals_sub_heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 40px;
}

#deals_sub {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

#deals_sub > div {
  background-color: white;
  color: black;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  padding-bottom: 30px;
}

#deals_sub img {
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.deals_opt {
  width: 85%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.deals_opt button {
  padding: 20px 60px;
  border: 1px solid gray;
}

#deals_sub_heading h2 {
  font-size: 2.5em;
}

.deals_opt h5 {
  text-decoration: underline;
  justify-content: space-between;
}

#proleft,
#proright {
  padding: 20px 25px;
}

#proleft {
  position: relative;
  left: 120px;
}

#proright {
  position: relative;
  right: 120px;
}

#footer {
  margin-top: -5px;
}

#left_right {
  display: flex;
  justify-content: space-between;
  position: relative;
  bottom: -500px;
}

/* @media screen and (min-width:751px){
    #deals_sub {
        gap: 60px;
      }
} */
#cart_cnt {
  right: 110px;
}

@media screen and (max-width: 1024px) {
  #cart_cnt {
    right: 20px;
  }
}

@media screen and (max-width: 750px) {
  .welcome {
    margin-top: 45px;
    font-size: 1em;
  }

  #head_div .welcome {
    margin-left: 0;
    text-align: center;
  }

  #cart_cnt {
    right: 20px;
  }

  #cat_heading {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 100px;
    margin-bottom: 60px;
    font-size: 1em;
  }

  #cat {
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }

  #deals_sub_heading h2 {
    font-size: 1.5em;
  }

  #deals_sub {
    grid-template-columns: repeat(4, 1fr);
    gap: 60px;
    overflow: auto;
  }

  #deals_sub::-webkit-scrollbar {
    display: none;
    /* Safari and Chrome */
  }

  #deals_sub_heading {
    display: block;
  }

  #left_right {
    display: none;
  }

  #deals_sub > div {
    width: 300px;
  }
}

@media screen and (max-width: 590px) {
  #cart_cnt {
    right: 12px;
  }
}

@media screen and (max-width: 500px) {
  #cat {
    grid-template-columns: repeat(1, 1fr);
  }

  #cart_cnt {
    right: 10px;
  }

  #deals_sub {
    grid-template-columns: repeat(4, 1fr);
    gap: 60px;
    overflow: auto;
  }

  #deals_sub::-webkit-scrollbar {
    display: none;
    /* Safari and Chrome */
  }

  #left_right {
    display: none;
  }

  #deals_sub > div {
    width: 300px;
  }
}
