@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");

#data {
  display: flex;
  margin-top: 40px;
  max-width: 100vw;
  box-sizing: border-box;
}

#go_to_top_link {
  padding: 0;
  margin: 0;
}

#go_to_top {
  background-color: white;
  transform: rotate(-90deg);
  position: fixed;
  z-index: 1;
  bottom: 30px;
  right: 30px;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  box-shadow: 0px 0px 10px gray;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
}

#go_to_top i {
  position: relative;
  /* left: px; */
}

.top_icon {
  font-size: 1rem;
  font-weight: bold;
  padding: 5px;
  color: black;
}

#main > section > h1 {
  padding: 20px 0px 20px;
  font-size: 2rem;
  font-weight: 800;
  color: #2e2c2c;
  margin: 5px 5px 5px 25px;
}

#main {
  scroll-behavior: smooth;
  margin-left: 25px;
}

.menu_1_cards {
  display: flex;
  overflow-x: scroll;
  padding-bottom: 30px;
  scrollbar-width: none;
  scroll-behavior: smooth;
}

.menu_1_cards::-webkit-scrollbar {
  display: none;
}

.menu_cards,
.menu_cards_1 {
  min-width: 300px;
  overflow: hidden;
  border-radius: 10px;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.menu_cards_1 {
  box-shadow: 0px 0px 8px gray;
}
.menu_cards > div {
  padding: 15px;
}

.menu_cards > div:nth-of-type(1) > span {
  margin-left: 10px;
}

.menu_cards > div:nth-of-type(1) > span:nth-of-type(1) {
  text-decoration: line-through;
  margin: 0;
}

.menu_cards > div:nth-of-type(1) > span:nth-of-type(1),
.menu_cards > div:nth-of-type(1) > span:nth-of-type(2),
.sub_container > div:nth-of-type(2) > span:nth-of-type(1),
.sub_container > div:nth-of-type(2) > span:nth-of-type(2) {
  font-size: 0.9rem;
  font-weight: 800;
}

.menu_cards > div:nth-of-type(1) > span:nth-of-type(3),
.menu_cards > div:nth-of-type(1) > span:nth-of-type(4) {
  font-size: 0.7rem;
  color: #2e2c2c;
}

.menu_cards > div:nth-of-type(1) > p {
  color: #2e2c2c;
}

.menu_cards_1 span {
  margin-left: 10px;
  font-size: 0.9rem;
}

.menu_cards_1 span:nth-of-type(1) {
  margin-left: 2px;
}
.menu_cards button,
.menu_cards_1 button {
  text-align: center;
  border: none;
  border-radius: 30px;
  width: 220px;
  padding: 10px 20px;
  color: white;
  background-color: #e4002b;
  display: flex;
  align-items: center;
  justify-content: center;
}

button:hover {
  cursor: pointer;
}

#view_option {
  padding: 10px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.btnLogo {
  width: 15px;
  padding: 5px;
}

/* Styling for sections after thechicken bucket */
.menu_cards_1 {
  padding: 15px;
  width: 85%;
  margin: auto;
  margin-top: 20px;
  box-sizing: border-box;
  max-height: max-content;
}

.menu_cards_1 > div:last-child {
  padding: 15px;
}

.sub_container {
  width: 100%;
  display: grid;
  grid-template-columns: 60% 30%;
  gap: 5%;
}

.sub_container > :last-child {
  order: -1;
}

.sub_container h4 {
  margin-top: 0;
}

.sub_container img {
  border-radius: 7px;
  width: 100%;
}

/* grid view for all menu_cards_1 section cards */

.sub_container_listView {
  display: flex;
  flex-direction: column;
}

.sub_container_listView > :first-child {
  padding: 0;
}

.sub_container_listView > :last-child {
  order: 2;
}

.menu_cards_1_listView {
  display: flex;
  align-content: stretch;
  overflow-x: scroll;
  padding-bottom: 30px;
  scrollbar-width: none;
  scroll-behavior: smooth;
}

.menu_cards_1_listView > div {
  margin-left: 20px;
}

/* All media quries are written here */

@media all and (min-width: 1024px) {
  #data {
    display: grid;
    grid-template-columns: 30% 70%;
    padding: 0px 5% 100px;
  }
  #main {
    padding: 50px 0px;
  }

  #menu_1 {
    background-color: #f8f7f5;
  }

  #view_option {
    display: none;
  }

  .menu_1_cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
    grid-template-rows: max-content;
  }
  .menu_cards_1 {
    min-height: 425px;
    width: 100%;
  }
  .cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    grid-template-rows: max-content;
  }

  .sub_container {
    display: flex;
    flex-direction: column;
  }

  .sub_container > div:last-child {
    order: 2;
  }

  .menu_1_cards > div > img {
    width: 75%;
  }
  .sub_container img {
    width: 100%;
  }
}

@media all and (min-width: 1440px) {
  .cards {
    grid-template-columns: repeat(3, 0.6fr);
  }
}
