body {
  margin: 0;
  padding: 0;
}

#navigationBar {
  display: flex;
  /* justify-content: center; */
  width: 100vw;
  box-sizing: border-box;
  margin: auto;
  justify-content: center;
  background-color: white;
  position: fixed;
  top: 0;
  z-index: 1;
}

#navbar {
  width: 100vw;
  box-sizing: border-box;
  overflow: hidden;
  padding: 20px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 600;
}

.logoContainer {
  margin: auto;
}

.totalContainer {
  display: flex;
  padding: 0px 10px;
  align-items: center;
}

.totalContainer > div {
  padding: 0px 10px;
}

.totalContainer > div:nth-of-type(2) {
  position: relative;
  left: 45px;
}

.totalContainer img {
  width: 40px;
}

#nav_cart {
  display: none;
}

#nav_titles {
  display: none;
}

#mySidebar {
  display: none;
}

/* All media queries are written here */
@media screen and (min-width: 320px) and (max-width: 1023px) {
  .sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: white;
    overflow-x: hidden;
    transition: 0.5s;
  }

  .sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #202124;
    display: block;
    transition: 0.3s;
  }

  .sidebar a:hover {
    color: #f1f1f1;
  }

  .sidebar .closebtn {
    top: 0;
    left: 5px;
    font-size: 36px;
    margin-left: 10px;
  }

  #sidebar_nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    align-items: center;
    font-size: 14px;
    position: fixed;
    top: 0;
    z-index: 1;
    background-color: white;
    padding-bottom: 20px;
    border-bottom: 1px solid #8080804d;
  }

  .cartLengthContainer {
    display: flex;
    align-items: center;
    max-width: max-content;
  }

  #sidecart_cnt {
    text-align: center;
    color: black;
    font-weight: bold;
  }

  #sidecart_svg {
    width: 50px;
    position: relative;
    left: -29px;
    z-index: -1;

    text-align: center;
    color: black;
    font-weight: bold;
  }

  #sidebar_logo {
    top: 3.9%;
    right: 50%;
    text-align: center;
  }

  #sign_side {
    font-size: 15px;
  }

  .menu {
    width: 90%;
    display: flex;
    align-content: center;
    background-color: #f8f7f5;
    justify-content: space-between;
    margin: auto;
    margin-top: 40px;
  }

  .menu > img {
    width: 40%;
  }

  .menu > div {
    margin-top: 15%;
    margin-left: 5%;
  }

  .data_menu {
    width: 90%;
    background-color: #f8f7f5;
    margin: auto;
    height: auto;
    margin-top: 40px;
  }

  .data_menu > div:first-child {
    padding-top: 60px;
  }

  .data_menu > div {
    margin-top: 15%;
    margin-left: 7%;
  }

  #signin_svg2 {
    width: 15%;
  }

  #letscookin {
    margin-top: 80px;
    line-height: 30px;
    color: #202124;
    font-weight: bolder;
  }
}

/* Develop */

@media all and (min-width: 1024px) {
  #navbar {
    max-width: 85%;
    margin: auto;
  }

  #burger,
  #mySidebar {
    display: none;
  }

  .logoContainer {
    margin: 0px;
    display: flex;
    align-items: center;
  }

  #nav_titles {
    display: block;
  }

  #nav_titles > button {
    margin-left: 50px;
    border: none;
    outline: none;
    background-color: inherit;
    font-weight: 600;
  }

  #nav_cart {
    display: block;
    padding: 0px 10px;
  }

  #cost_of_cart {
    min-width: 150px;
  }

  .signinLink {
    display: flex;
    align-items: center;
  }

  .signinLink > div {
    padding: 0px 10px;
  }
}
